*{
  font-family: 'Latos',sans-serif;
}
body{
  background-color: #59c9fc;
background-image: url("resource/theam.jpg");
}
.login-div{
  margin: 100px auto;
  width: 350px;
  background-color:#fff;
  padding: 70px ;
  position: absolute;
  right: 60px;
}

.logo{
  background-color: #59c9fc;
  width: 350px;
  height: 150px;
  border-radius:50%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.logo img{
  width: 200px;
  padding-left: 73px;

}

.title{
  text-align: center;
  color: #505050;

}
.title{
  font-weight: bolder;
  font-size: 35px;
}
}
.form{
  width: 100%;
  margin-top: 30px;
}
.form input{
  font-size: 18px;
  padding: 10px 20px 10px 5px;
  border: none;
  outline: none;
  background: none;
}

.username, .password{
  display: block;
  border-radius: 30px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px;
  margin: 10px 0;

}
.form svg{
  height: 25px;
  margin-bottom: -5px;
  margin-left: 10px;
  margin-right: 5px;
}

.options{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 0px;
  margin-bottom: 30px;
}
button{
  width: 100%;
  padding: 12px 10px;
  border: transition;
  font-size: 18px;
  border-radius: 30px;
  background-color: #59c9fc;
  color: #fff;
  margin-bottom: 5px;
  transition: transform 0.5s;
  cursor: pointer;
}
button:hover{
  transform: translateY(-10px);
  background-color: #FFA500;

}

.signup{
  text-align:center;
}

a{
  text-decoration: none;
  color: #505050;
}
